@{
    ViewData["Title"] = "EISENFLOTTE Command Center";
}

<div id="footer-bottom" class="bg-dark py-3">
    <div class="container-fluid px-md-5">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <p class="copyright-text mb-0">© 2026 EISENFLOTTE INDUSTRIAL COFFEE. ALL SYSTEMS OPERATIONAL.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="copyright-text mb-0">DESIGN_AUTH: GEMINI_CAPABLE_PARTNER</p>
            </div>
        </div>
    </div>
</div>
